<!--  File Name: error.ejs
      Author: Kody Reid
      Student Number: 301164732
      Date: June 16, 2021
-->

<!--Nav+Meta Section-->

<%- include('./components/header.ejs') %>
  


<!-- Error Handling Code -->

<div class="container">
    <h1><%= message %></h1>
    <h2><%= error.status %></h2>
    
</div>


<!--Bottom Footer-->
<%- include('./components/bottom_nav.ejs') %>

<!--Bottom Nav-->
<%- include('./components/footer.ejs') %>
